html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;

}

.navitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}


.searchinput{
    border: none;
    background-color: transparent;
}

.searchinput::placeholder{
    color: lightgray;
}

.navProfile{
    background-color: transparent;
    width: 115px;
    display: flex;
    align-items:center;
    gap: 15px;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    margin-right: 50px;
    font-weight: 400;
    color: rgb(225, 220, 220);
    border-bottom: 1px solid white;
}

.slider{
    background: url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    clip-path: polygon(100% 0, 100% 100%, 28% 87%, 0 96%, 0 0);
    overflow: hidden;
}


.sliderwrapper{
    display: flex;
    width: 500vw;
    height: 100vh;
    transition: all 0.8s ease-in-out;
}

.slideritem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.slidertitle{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}



.sliderprice{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
}


.sliderbg{
    height: 750px;
    width: 750px;
    border-radius: 50%;
    position: absolute;
}


.sliderimage{
    z-index: 1;
}

.buybutton{
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    background-color: black;
}


.buybutton:hover{
    background-color: rgb(244, 238, 238);
    color: black;
}


.slideritem:nth-child(1) .sliderbg{
    background-color: yellow;
}

.slideritem:nth-child(2) .sliderbg{
    background-color: orange;
}

.slideritem:nth-child(3) .sliderbg{
    background-color: teal;
}

.slideritem:nth-child(4) .sliderbg{
    background-color: lightgray;
}

.slideritem:nth-child(5) .sliderbg{
    background-color: rgb(113, 0, 212);
}


.slideritem:nth-child(1) .sliderprice{
    color: yellow;
}

.slideritem:nth-child(2) .sliderprice{
    color: orange;
}

.slideritem:nth-child(3) .sliderprice{
    color: teal;
}

.slideritem:nth-child(4) .sliderprice{
    color: lightgray;
}

.slideritem:nth-child(5) .sliderprice{
    color: rgb(113, 0, 212);
}


.menu{
    cursor: pointer;
}


.features{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    height: 50px;
    width: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;;
}


.featureDescription{
    color: gray;
    width: 50%;
    height: 100px;
}


.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(71% 13%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colors{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: red;
    margin: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: black;
}
.sizes{
    display: flex;
    margin-bottom: 20px;
}

.size{
    padding: 5px 8px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    font-weight: 600;
    cursor: pointer;
    color: white;

}

.productButton:hover{
    background-color: white;
    color: black;
    color: rgb(161, 232, 29);
}


.payments{
    width:500px ;
    height: 540px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 6px 5px 32px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 5px 32px 3px rgba(0,0,0,0.52);
    box-shadow: 6px 5px 32px 3px rgba(0,0,0,0.52);
    background-color: white;
    position: absolute; 
    position: fixed;
    /* z-index: 2; */
    /* top: 2rem;
    right: 3rem; */
}

.paytitle{
    font-size: 20px;
    color:lightgray;
}

label{
    font-size: 15px;
    font-weight: 300;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;

}

.payInput::placeholder{
    color: rgb(165, 165, 165);
}

.cardicons{
    display: flex;
}

.cardicon{
    margin-right: 10px;
}

.cardinfo{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 25%;
}

.paybutton{
    height:50px ;
    width: 150px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.cartbutton{
    height:50px ;
    width: 150px;
    margin-top: 10px;
    border-radius: 25px;
}

.checks{
    display: flex;
    justify-content: space-around;
}


.close{
    width: 20px;
    height: 20px;
    position: absolute;
    color: black;
    cursor: pointer;
    padding: 2px;
    top: 10px;
    right: 10px;
}


.gallery{
    padding: 50px;
    display: flex;
}

.galleryItem{
    flex: 1;
    padding: 50px;
}

.galleryImg{
    width: 100%;
}

.newseason{
    display: flex;
}

.nsitem{
    flex: 1;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsImg{
    width: 100%;
    height: 700px;
}

.nstitle{
    font-size: 40px;
}

.nsbutton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;

}

.footerclass{
    display: flex;
}

.footerleft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footerright{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fmenutitle{
    font-size: 16px;
}

.fmenulist{
    padding: 0;
    list-style: none;
}

.flistitem{
    margin-bottom: 10px;;
    cursor: pointer;
    color: gray;
}

.finput{
    padding: 5px;
}

.frightbutton{
     padding: 5px;
     background-color: black;
     color: white;
}

.ficons{
    display: flex;
}

.ficon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
}


@media screen and (max-width:480px) {
    nav{
        padding: 20px;
    }

    .search{
        display: none;
    }

    .navBottom{
        flex-wrap: wrap;
    }

    .menu{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .slider{
        clip-path: none;
        height: 460px;
    }
    
    .sliderimage{
        width: 90%;
    }

    .slideritem{
        width: 90%;
        height: 50%;
    }

    .sliderbg{
        width: 90%;
        height: 90%;

    }
    
    .slidertitle{
        display: none;
    }

    .sliderprice{
        top: unset;
        bottom: 0;
        left: 0;
        background-color: lightgray;
    }

    .buybutton{
        bottom: 0;
        right: 0;
        top: unset;
        height: 50px;
    }
    .slideritem:nth-child(1) .sliderprice{
        color: black;
    }
    
    .slideritem:nth-child(2) .sliderprice{
        color: black;
    }
    
    .slideritem:nth-child(3) .sliderprice{
        color: black;
    }
    
    .slideritem:nth-child(4) .sliderprice{
        color: black;
    }
    
    .slideritem:nth-child(5) .sliderprice{
        color: black
    }

    .features{
        flex-direction: column;
    }

    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }

    .productTitle{
        font-size: 50px;
        margin: 0;
        
    }

    .productImg{
        width: 80%;
    }

    .payments{
        width: 90%;
        padding: 20px;
    }

    .gallery{
        display: none;
    }
    .newseason{
        flex-direction: column;
    }

    .nsitem:nth-child(2){
        padding: 50px;
    }

    .footerclass{
        flex-direction: column;
        align-items: center;
    }

    .footerleft{
        padding: 25px;
        width: 90%;
    }
    .footerright{
        padding: 25px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }
    
}


